body {
    font-family: "Consolas", sans-serif;
    background-color: #eac4e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: white;
    border: black solid 1px;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

h1 {
    marin: 0;
    color: black;
    font-size: 36px;
}

input[type="datetime-local"] {
    max-width: 300px;
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 16px;
    color: black;
    width: 77%;
}

.wybur {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.zdjecie {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 6%;
    height: auto;
}

.coinnego {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 6%;
    height: auto;
}